<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Siw Catalog</title>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="/css/multi-select.css" th:href="@{/css/multi-select.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/menu :: menu"></div>
<div class="wrapper">
<div class="container">
<div class="row">
<div class="col-md-8 offset-md-2 mt-5 mb-5">
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0 text-center">Inserisci Prodotto</h3>
            </div>
            <div class="card-block">
                <form action="#" th:action="@{/protected/aggiungiProdotto}" th:object="${prodotto}" enctype="multipart/form-data" method="post" class="form-horizontal" role="form">

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Nome</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" name="nome" th:field="*{nome}"/>
                        </div>
                        <div class="col-sm-2" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Error nome</div>

                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Descrizione</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" name="nome" th:field="*{descrizione}"/>
                        </div>
                        <div class="col-sm-2" th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}">Errore descrizione</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Prezzo</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" name="prezzo" th:field="*{prezzo}"/>
                        </div>
                        <div class="col-sm-2" th:if="${#fields.hasErrors('prezzo')}" th:errors="*{prezzo}">Error prezzo</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Fornitori</label>
                        <div class="col-lg-9">
                            <select  th:field="*{fornitori}" class="form-control" name="fornitori" multiple="multiple" id="mselect" required="required">
                                <option th:each="fornitore : ${fornitori}" th:value="${fornitore.id}"
                                        th:text="${fornitore.nome}"></option>
                            </select>
                        </div>
                        <div class="col-sm-2" th:if="${#fields.hasErrors('fornitori')}" th:errors="*{fornitori}">Error fornitori</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Immagine</label>
                        <div class="col-lg-9">
                            <input type="file" name="file"/>
                        </div>
                        <div class="col-sm-2" th:if="${immaginegNonInserita}">Campo obbligatorio</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label"></label>
                        <div class="col-lg-9">

                            <input class="btn btn-primary" type="submit" value="Invia"/>
                        </div>
                    </div>


                </form>
            </div>
        </div>
        </div>
    </div>
</div>
</div>

<div th:replace="fragments/bootstrap :: bootstrap"></div>
<script th:src="@{/js/jquery.multi-select.js}" type="text/javascript"></script>
<script>
    $('#mselect').multiSelect({
        selectableHeader: "<div>Fornitori</div>",
        selectionHeader: "<div>Selezionati</div>"
    });
</script>

</body>
</html>