<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <title>Catalog for Siw</title>


    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>


</head>

<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="col-md-10 offset-md-1 col-sm-12 table-responsive" style="margin-top: 40px;margin-bottom: 55px;">
    <p class="h3 text-center w-100">Prodotti</p>
<table class="table" style="margin-top: 30px;">
    <thead class="thead-inverse">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Descrizione</th>
        <th>Prezzo</th>
        <th sec:authorize="hasRole('ADMIN')">Azioni</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prodotto : ${prodotti}" >
        <th th:text="${prodotto.id}"></th>
        <td> <a th:href="@{/prodotto/{id}(id=${prodotto.id})}" th:text="${prodotto.nome}"> </a></td>
        <td th:text="${prodotto.descrizione}"></td>
        <td th:text="${prodotto.prezzo}"></td>
        <td>
            <a class="" sec:authorize="hasRole('ADMIN')" th:href="@{/protected/modificaProdotto/{id}(id=${prodotto.id})}">Modifica</a>
            <a class="" sec:authorize="hasRole('ADMIN')" th:href="@{/protected/eliminaProdotto/{id}(id=${prodotto.id})}">Elimina</a>
        </td>
    </tr>

    </tbody>
</table>
</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/bootstrap :: bootstrap"></div>

</body>
</html>